{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-success" role="alert">

        <div class="alert-items">
                {% for category, message in messages %}
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">{{ message }} </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
